.App {
  margin : 20px;
  display: flex;
  flex-direction: column;
}
.App input {
  margin-bottom:30px ;
  width: 450px;
  height: 25px;
  align-self: center;
  
}
.container{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 50px;
  
}
