.cCard{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.cCard img {
    height: 100px;
    width: 80px
}
.cCard p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    
}